<strong id= "equipment-detail-<%= equipment_category.id%>"> <%= equipment_category.name %>明细 </strong>
<table class = "table table-bordered table-striped equipment-info">
  <thead>
    <tr>
      <th>编号</th>
      <th>运行编号</th>
      <th>主要设备构成</th>
      <th>类型</th>
      <th>工作环境</th>
      <th>出厂日期</th>
      <th>投运日期</th>
      <th>备注</th>
    </tr>
  </thead>
  <tbody>
    <% n = 0%>
    <% equipment_category.terminal_boxes.where(station_id: @station.id).each do |t| %>

      <tr>
        <td> <%= n += 1%></td>
        <td> <%= t.running_number     %> </td>
        <td> <%= t.main_equipment     %> </td>
        <td> <%= t.category           %></td>
        <td> <%= t.environment        %></td>
        <td> <%= t.manufacture_date   %> </td>
        <td> <%= t.commissioning_date %> </td>
        <td> <%= t.remark             %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
