
<h3><%= @station.name %>设备汇总：</h3>
<hr>
<% @equipment_categories.each do |e| %>
  <div class="equipment-detail">
    <% case e.name %>
    <% when "变压器" %>
      <%= render :partial => "transformer_info", locals:{equipment_category: e} %>
    <% when "断路器" %>
      <%= render :partial => "circuit_breaker_info", locals: {equipment_category: e} %>
    <% when "隔离开关" %>
      <%= render :partial => "isolate_switch_info", locals: { equipment_category: e}%>
    <% when "负荷开关" %>
      <%= render :partial => "load_switch_info", locals: { equipment_category: e} %>
    <% end %>

  </div>
<% end %>
