
<h3><%= @station.name %>设备汇总：</h3>
<hr>
<% @equipment_categories.each do |e| %>
  <div class="equipment-detail">
    <% case e.name %>
    <% when "变压器" %>
      <%= render :partial => "transformer_info", locals:{equipment_category: e} %>
    <% when "断路器" %>
      <%= render :partial => "circuit_breaker_info", locals: {equipment_category: e} %>
    <% when "隔离开关" %>
      <%= render :partial => "isolate_switch_info", locals: { equipment_category: e}%>
    <% when "负荷开关" %>
      <%= render :partial => "load_switch_info", locals: { equipment_category: e} %>
    <% when "组合电器（箱变）" %>
      <%= render :partial => "apparatus_composite_info", locals: { equipment_category: e} %>
    <% when "电流互感器" %>
      <%= render :partial => "current_transformer_info", locals: { equipment_category: e} %>
    <% when "电压互感器" %>
      <%= render :partial => "potential_transformer_info", locals: { equipment_category: e} %>
    <% when "固定无功补偿装置--并联电容器" %>
      <%= render :partial => "shunt_capacitor_info", locals: { equipment_category: e} %>
    <% when "固定无功补偿装置--电抗器" %>
      <%= render :partial => "inductor_info", locals: { equipment_category: e} %>
    <% when "固定无功补偿装置--放电线圈（电感器）" %>
      <%= render :partial => "discharge_coil_info", locals: { equipment_category: e} %>
    <% when "动态无功补偿装置--并联电容器" %>
      <%= render :partial => "trends_shunt_capacitor_info", locals: { equipment_category: e} %>
    <% when "动态无功补偿装置--电抗器" %>
      <%= render :partial => "trends_inductor_info", locals: { equipment_category: e} %>
    <% when "动态无功补偿装置--放电线圈（电感器）" %>
      <%= render :partial => "trends_discharge_coil_info", locals: { equipment_category: e} %>
    <% when "动态无功补偿装置--调压变压器" %>
      <%= render :partial => "trends_regulating_transformer_info", locals: { equipment_category: e} %>
    <% when "动态无功补偿装置--可控硅阀组" %>
      <%= render :partial => "trends_valve_controllable_info", locals: { equipment_category: e} %>
    <% end %>

  </div>
<% end %>
