
<h3><%= @station.name %>设备汇总：</h3>
<hr>
<% @equipment_categories.each do |e| %>
  <div class="equipment-detail">
    <% case e.name %>
      <% when "变压器" %>
      <%= render :partial => "transformer_info", locals:{equipment_category: e} %>
      <% when "视频监控系统" %>
      <%= render :partial => "video_monitoring_system_info", locals:{equipment_category: e} %>
      <% when "其他变电设备" %>
      <%= render :partial => "other_tran_equipment_info", locals:{equipment_category: e} %>
      <% when "端子箱" %>
      <%= render :partial => "terminal_box", locals:{equipment_category: e} %>
      <% when "V停系统" %>
      <%= render :partial => "v_stop_sys", locals:{equipment_category: e} %>
      <% when "远动系统" %>
      <%= render :partial => "remote_action_system", locals:{equipment_category: e} %>
      <% when "故障判断装置" %>
      <%= render :partial => "failure_judgment_device", locals:{equipment_category: e} %>



    <% end %>

  </div>
<% end %>
