<h3><%= @transformer.station.name %><%= @transformer.equipment_category.name %>履历表</h3>

<!-- 变压器基本信息模块 -->

<div class="transformer_resume_frame">

  <div class="first-part-1">
    <p>技 术 参 数 </p>
  </div>

  <div class="first-part">
    <div><b>运行编号</b></div>
    <div><%= @transformer.running_number%></div>
    <div><b>空载电流</b></div>
    <div><%= @transformer.noload_current%></div>
    <div><b>总重</b></div>
    <div><%= @transformer.total_weight%></div>
  </div>

  <div class="first-part">
    <div><b>型号</b></div>
    <div><%= @transformer.standard%></div>
    <div><b>空载消耗</b></div>
    <div><%= @transformer.noload_loss%></div>
    <div><b>生产厂家</b></div>
    <div><%= @transformer.station.name%></div>
  </div>

  <div class="first-part">
    <div><b>额定电容</b></div>
    <div><%= @transformer.rated_volume%></div>
    <div><b>短路消耗</b></div>
    <div><%= @transformer.short_circuit_loss%></div>
    <div><b>出厂序号</b></div>
    <div><%= @transformer.manufacture_number%></div>
  </div>

  <div class="first-part">
    <div><b>额定电压</b></div>
    <div><%= @transformer.rated_voltage%></div>
    <div><b>阻抗电压</b></div>
    <div><%= @transformer.impedance_voltage%></div>
    <div><b>出厂日期</b></div>
    <div><%= @transformer.manufacture_date%></div>
  </div>

  <div class="first-part">
    <div><b>额定电流</b></div>
    <div><%= @transformer.rated_current%></div>
    <div><b>绝缘油号</b></div>
    <div><%= @transformer.insulation_oil%></div>
    <div><b>安装地点</b></div>
    <div><%= %></div>
  </div>

  <div class="first-part">
    <div><b>相数</b></div>
    <div><%= @transformer.phase%></div>
    <div><b>油重</b></div>
    <div><%= @transformer.oil_weight%></div>
    <div><b>安装日期</b></div>
    <div><%= @transformer.installation_date%></div>
  </div>

  <div class="first-part">
    <div><b>接线组别</b></div>
    <div><%= @transformer.connection_group%></div>
    <div><b>器身重</b></div>
    <div><%= @transformer.suttle%></div>
    <div><b>投运日期</b></div>
    <div><%= @transformer.commissioning_date%></div>
  </div>

  <div class="first-part">
    <div><b>冷却方式</b></div>
    <div><%= @transformer.cooling_method%></div>
    <div><b>附件重</b></div>
    <div><%= @transformer.affix_weight%></div>
    <div><b></b></div>
    <div><%= @transformer.running_number%></div>
  </div>

  <div class="second-part">
    <div><b>分接开关位置</b></div>
    <div><b>低压侧</b></div>
    <div><b>高压侧</b></div>
    <div><b>连接图</b></div>
  </div>

  <div class="third-part">
    <div class="third-part-1"><b>挡</b></div>
    <div><b>电压</b></div>
    <div><b>电流</b></div>
    <div><b>电压</b></div>
    <div><b>电流</b></div>
    <div class="third-part-2">
      <% if @transformer.connection_diagram.present? %>
        <%= image_tag(transformer.connection_diagram.thumb.url)%>
      <% end %>
    </div>

    <div class="third-part-1"><%= @transformer.tapping_switch%></div>
    <div><%= @transformer.lowside_current%></div>
    <div><%= @transformer.lowside_voltage%></div>
    <div><%= @transformer.highside_current%></div>
    <div><%= @transformer.highside_voltage%></div>
    <div class="third-part-3">
      <div><b>附属装置</b></div>
      <div><%= @transformer.ancillary_device%> </div>
    </div>
  </div>
  <!-- 编辑变压器履历第二部分入口 -->
</div>
<%= link_to("编辑技术参数", edit_equipment_category_transformer_path)%>



<!-- 运行记录模块  -->

<div class="transformer-running-record">
   <div > <p><b>运行记录</b></p></div>
   <div class="part-1">
     <div class="part-1-0">年度</div>
     <div class="part-1-0">运行小时 </div>
     <div class="part-1-1">
       <div class="part-1-1-1"> 过负荷 </div>
       <div class="part-1-1-2"> 次数 </div>
       <div class="part-1-1-2"> 累计时间 </div>
     </div>
     <div class="part-1-0">利用率 </div>
     <div class="part-1-0"> 承受短路电流次数 </div>
     <div class="part-1-2"> 记事 </div>
   </div>

   <% @transformer.move_records.each do |r|%>
   <div class="part-2">
     <div> <%= r.year%> </div>
     <div> <%= r.operation_hours%> </div>
     <div> <%= r.overload_time%> </div>
     <div> <%= r.overload_cumulative_time%> </div>
     <div> <%= r.utilize_percentage%> </div>
     <div> <%= r.short_circuit_time%> </div>
     <div> <%= r.run_record%> </div>
   </div>
   <% end %>
</div>
<%= link_to("新增运行记录", new_equipment_category_transformer_move_record_path(@equipment_category, @transformer)) %>



<!-- 质量鉴定模块 -->
<div class="quanlity-authanticate-record">
  <div class="part-0"><p><b>质量鉴定记录</b></p></div>

  <div class="part-1">
    <div class="part-1-0"><b>年度</b></div>
    <div class="part-1-0"><b>等级</b></div>
    <div class="part-1-1"><b>主要缺陷</b></div>
  </div>

  <% @transformer.quanlity_authanticate_records.each do |q|%>
    <div class="part-1">
      <div class="part-1-0"><%= q.year %></div>
      <div class="part-1-0"><%= q.grade %></div>
      <div class="part-1-1"><%= q.major_defects%></div>
    </div>
  <% end %>
</div>
  <%= link_to("添加记录", new_equipment_category_transformer_quanlity_authanticate_record_path(@equipment_category,@transformer) )%>

<% n=0 %>
<div><h4>大修、中修及改造记录</h4> </div>
<% @transformer.maintenance_records.each do |m| %>
  <div class="maintenance-record">
    <div class="part-0"><p><b>记录<%= n+=1 %></b></p></div>
    <div >
      <div class="part-1"><b> 日期 </b></div>
      <div class="part-1"><%= m.date %> </div>
      <div class="part-1"><b> 修程 </b></div>
      <div class="part-1"><%= m.maintenance_process%> </div>
      <div class="part-1"><b> 承修单位 </b></div>
      <div class="part-1-1"><%= m.maintenance_unit %> </div>
    </div>
    <div class="">
      <div class="part-2"><b>费用</b> </div>
      <div class="part-2-1"><%= m.cost %></div>
      <div class="part-2"><b>检修负责人</b> </div>
      <div class="part-2-2"><%= m.overhaul_incharge %> </div>
    </div>
    <div class="">
      <div class="part-3"><b>主要缺陷</b> </div>
      <div class="part-3-1"><%= m.major_defects %> </div>
    </div>
    <div class="">
      <div class="part-3"><b>修理情况</b> </div>
      <div class="part-3-1"> <%= m.maintenance_situation %></div>
    </div>
  </div>
<% end %>
<%= link_to("添加改造记录", new_equipment_category_transformer_maintenance_record_path(@equipment_category, @transformer))%>


<div class="station-equipment-ship">
  <div class="part-0"> 主变移交记录</div>
  <div class="">
    <div class="part-1"><b>迁入（出）日期</b> </div>
    <div class="part-1"><b>移设原因</b> </div>
    <div class="part-1-1"><b>移交单位</b> </div>
    <div class="part-1"><b>经办人</b> </div>
    <div class="part-1-1"><b>接收单位</b> </div>
    <div class="part-1"><b>经办人</b> </div>
    <div class="part-1"><b>投运日期</b> </div>
  </div>
  <% @transformer.transformer_shift_records.each do |t|%>
  <div class="">
    <div class="part-1"> <%= t.shift_in_date%></div>
    <div class="part-1"><%= t.shift_reason%></div>
    <div class="part-1-1"><%= t.shift_out_company%></div>
    <div class="part-1"><%= t.shift_out_agent%></div>
    <div class="part-1-1"><%= t.reciving_company%></div>
    <div class="part-1"><%= t.shift_in_agent%></div>
    <div class="part-1"><%= t.commissioning_date%></div>
  </div>
  <% end %>
</div>
<%= link_to("添加主变移交记录", new_equipment_category_transformer_transformer_shift_record_path(@equipment_category, @transformer))%>
