<div class="category-frame">
  <% @equipment_categories.each do |e|%>
      <div class="category-item">
        <% case e.name %>
        <% when "变压器" %>
            <%= link_to new_equipment_category_transformer_path(e),class: "btn btn-default" do %>
              <%= e.name%>
            <% end %>
          <% when "视频监控系统" %>
            <%= link_to new_equipment_category_video_monitoring_system_path(e),class: "btn btn-default" do %>
              <%= e.name%>
            <% end %>
          <% when "其他变电设备" %>
            <%= link_to new_equipment_category_other_tran_equipment_path(e),class: "btn btn-default" do %>
              <%= e.name%>
            <% end %>
          <% when "端子箱" %>
            <%= link_to new_equipment_category_terminal_box_path(e),class: "btn btn-default" do %>
              <%= e.name%>
            <% end %>
          <% when "V停系统" %>
            <%= link_to new_equipment_category_v_stop_sy_path(e),class: "btn btn-default" do %>
              <%= e.name%>
            <% end %>
          <% when "远动系统" %>
            <%= link_to new_equipment_category_remote_action_system_path(e),class: "btn btn-default" do %>
              <%= e.name%>
            <% end %>
          <% when "故障判断装置" %>
            <%= link_to new_equipment_category_failure_judgment_device_path(e),class: "btn btn-default" do %>
              <%= e.name%>
            <% end %>
          <% when "综合自动化系统" %>
            <%= link_to new_equipment_category_integrated_automation_system_path(e),class: "btn btn-default" do %>
              <%= e.name%>
            <% end %>
          <% when "低压盘-柜" %>
            <%= link_to new_equipment_category_low_voltage_cabinet_path(e),class: "btn btn-default" do %>
              <%= e.name%>
            <% end %>





        <% end %>
      </div>

  <% end %>
  <div class="add-category">
    <%= link_to("添加设备分类", edit_station_path(current_station),class: "btn btn-default")%>
  </div>

</div>
