<div class="category-frame">
  <% @equipment_categories.each do |e|%>
      <div class="category-item">
        <% case e.name %>
        <% when "变压器" %>
          <%= link_to new_equipment_category_transformer_path(e),class: "btn btn-default" do %>
            <%= e.name%>
          <% end %>
        <% when "断路器" %>
          <%= link_to new_equipment_category_circuit_breaker_path(e),class: "btn btn-default" do %>
            <%= e.name%>
          <% end %>
        <% when "隔离开关" %>
          <%= link_to new_equipment_category_isolate_switch_path(e),class: "btn btn-default" do %>
            <%= e.name%>
          <% end %>
        <% when "负荷开关" %>
          <%= link_to new_equipment_category_load_switch_path(e),class: "btn btn-default" do %>
            <%= e.name%>
          <% end %>
        <% end %>

      </div>

  <% end %>
  <div class="add-category">
    <%= link_to("添加设备分类", edit_station_path(current_station),class: "btn btn-default")%>
  </div>

</div>
