<!DOCTYPE html>
<html style="height:100%;">
  <head>
    <title>TrainDeviceRecord</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="height:100%;">
    <%= render "common/navbar" %>
    <%= render "common/flashes" %>
    <% if current_user.present? %>
      <div class="col-md-2">
        <div class="side-bar">
          <div class="side-bar-categoy">
            <% if current_user.job_number == "007" %>
              <% station = Station.find_by(:id => params[:id]) %>
              <% if station.present?%>
                <% station.equipment_categories.all.each do |e| %>
                  <a href="#equipment-detail-<%= e.id%>"><%= e.name %></a>
                <% end %>
              <% end %>
            <% else %>
              <% current_station.equipment_categories.all.each do |e| %>
                <% if url_for != "/stations/#{current_station.id}"  %>

              <!-- 还可以这样写：  <%  url_for != station_path(current_user)  %>  -->
                  <a href="/stations/<%= current_station.id%>" ><%= e.name %></a>
                <% else %>
                  <a href="#equipment-detail-<%= e.id%>"><%= e.name%></a>
                <% end %>
              <% end %>
            <% end %>
          </div>
          <hr>
          <div class="side-bar-option">
            <a href="/equipment_categories">设备管理</a>
            <% if current_user.is_admin? %>
              <a href="/equipment_categories/admin_index">添加设备库</a>
            <% end %>
            <a href="/stations/<%= current_station.id%>"> 回到首页</a>
          </div>
        </div>
      </div>
    <% end %>


    <div class="application-frame ">
      <div class="col-md-10">
        <%= yield %>
      </div>
    </div>


    <%= render "common/footer" %>
  </body>
</html>
